body {
	background-image: url(manos.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* .background-image {
	background-image: url("https://i.pinimg.com/736x/18/96/54/1896546dd8fbf327c7d4dd61c0b9676a.jpg");
} */

.formRace {
	color: white;
}

.cardDetail {
	padding: 50px;
	gap: 50px;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	height: 90%;
	margin: 40px;

	color: white;
}

.imagenCardDetail {
	height: 500px;
}

.parrafo {
	padding: 7px 10px 7px 10px;
}

.card {
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 10%;
	width: 10%;
	gap: 30px;
}

.imagegrid {
	height: 400px;
}

.content {
	background-color: #f2911b;
	color: white;
	height: 180px;
	width: 230px;
}

.pagination {
	color: white;
	padding: 14px 20px 14px 20px;
}

.datagrid {
	background-color: white;
}

.link {
	color: rgb(29, 29, 29);
	text-decoration: none;
	padding: 7px 10px 7px 10px;
}
.linkCards {
	color: white;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
}

.linkNavbar {
	color: white;
	text-decoration: none;
}

.linkNavbarMenus {
	color: 'black';
	text-decoration: none;
}
.principalTitle {
	text-align: center;
	padding: 20px 23px 20px 23px;
	color: black;
}

.viewcard {
	color: rgb(30, 30, 44);
	text-decoration: none;
}
.createboton {
	left: 1600px;

	bottom: -10px;
}
